* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0C0B08;
    width: 100%;
    height: auto;
}

header {
    display: flex;
    flex-direction: row;
    padding: 2rem 3.75rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7.5rem;
}

header h1 {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: .11rem;
    font-family: 'Cormorant Upright', serif;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 700;

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

.topright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.topright a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: .8px;
    text-transform: capitalize;
    font-weight: 600;

}

.topright .book,
.topright img {
    padding-left: 1.875rem
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 120px);
    margin-bottom: 80px;
    padding: 0 60px;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    gap: 2.5rem;
    color: #FFFFFF;
    width: 20%;
    margin-left: -8%;
}

.left h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .045rem;
}

.right {
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 24px;
    color: var(--dcca-87, #DCCA87);
    width: 15%;
}

.right h2 {
    margin-right: -25px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
    width: 85%;
}

.center-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.ct-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 50%;
    padding-right: 60px;
}

.ct-left h2 {
    font-family: 'Cormorant Upright', serif;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: .92px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.ct-left h3 {
    font-family: 'Cormorant Upright', serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: .225rem;
    text-transform: capitalize;
    color: var(--dcca-87, #DCCA87);
    padding: 20px 0px 40px 0px;
}

.ct-left p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .04rem;
    color: var(--aaaaaa, #AAA);
}

.ct-left button {
    width: 180px;
    margin-top: 40px;
}

.ct-right {
    width: 55%;
    position: relative;
}

.ct-right img {
    padding-left: 10%;
    width: 90%;
    height: 80%;
}

.ct-right::after {
    content: url(../restaurant/pics/rect.svg);
    position: absolute;
    left: 30px;
    bottom: -15px;
    z-index: -1;
}

.ct-right .ct-2 {
    position: absolute;
    width: 90%;
    height: 80%;
    left: 35px;
    bottom: 100px;
    z-index: -2;
}

.center-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    color: #FFFFFF;
    gap: 8px;
    height: 10%;
}

.center-bottom img {
    width: 40px;
    height: 15px;
    transform: rotate(-90deg);
    gap: 5px;
}

.about {
    background-image: url(../restaurant/pics/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 120px;
    position: relative;
    z-index: 1;
}

.about .img {
    position: absolute;
    z-index: -1;
    left: 37%;
    width: 25vw;

}

.about-left,
.about-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 32px;
    width: auto;
}

.about-left h2,
.about-right h2 {
    font-family: 'Cormorant Upright', serif;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: .12rem;
    text-transform: capitalize;
    color: var(--dcca-87, #DCCA87);
}

.about-left p,
.about-right p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .64px;
    color: var(--aaaaaa, #AAA);
    width: 80%;
    text-align: right;

}

.about-left button,
.about-right button,
.t-special3 button,
.ct-left button {
    padding: .5rem 2rem;
    background: var(--dcca-87, #DCCA87);
    border: none;
    outline: none;
    font-family: 'Cormorant Upright', serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .04rem;
    color: var(--0-c-0-c-0-c, #0C0C0C);
    cursor: pointer;
}

.about-right {
    align-items: flex-start;
    padding-left: 0;
}

.about-right p {
    text-align: left;
}

.about-center img {
    height: 80vh;
    padding: 0rem 4rem;
}

.t-special {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.75rem 160px;

}

.t-special1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    height: 100%;
}

.t-special1 h4 {
    font-family: 'Cormorant Upright', serif;
    font-size: 1.4375rem;
    font-weight: 700;
    letter-spacing: .0575rem;
    text-transform: capitalize;
    color: var(--ffffff, #FFF);
}

.t-special1 h2 {
    text-align: center;
    font-family: 'Cormorant Upright', serif;
    font-size: 3.375rem;
    font-weight: 500;
    letter-spacing: .16rem;
    text-transform: capitalize;
    color: var(--dcca-87, #DCCA87);
}

.t-special2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.t-special22 img {
    height: 50vh
}

.t-special21,
.t-special23 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.t-special21 h2,
.t-special23 h2 {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: 'Cormorant Upright', serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: .1125rem;
    text-transform: capitalize;
}

.menu21 {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.men1 .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;

}

.men1 h3 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .04rem;
    text-align: left;
    color: var(--aaaaaa, #AAA);
    font-family: 'Open Sans', sans-serif;
}


.men1 .top h2,
.men1 .top h3 {
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .0575rem;
    text-transform: capitalize;
    color: var(--dcca-87, #DCCA87);
    text-align: left;
}

.men1 .top h3 {
    color: var(--ffffff, #FFF);

}

.t-special3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.chef-word {
    width: 100%;
    height: 100vh;
    background-image: url(../restaurant/pics/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.75rem 160px;
}

.chef-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 96px;
}

.chef-left {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.chef-left img {
    width: 400px;
    height: 450px;
}


.chef-left .img11 {
    position: absolute;
    z-index: -1;
    width: 80%;
    height: 75%;
    top: -15px;
    right: -20px;
}

.chef-left .img12 {
    position: absolute;
    z-index: -1;
    width: 80%;
    height: 75%;
    left: -20px;
    bottom: -15px;


}


.chef-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.chef-right .right1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.chef-right .right1 h2 {
    font-family: 'Cormorant Upright', serif;
    font: size 23px;
    font-weight: 700;
    letter-spacing: 0.92px;
    text-transform: capitalize;
    color: var(--ffffff, #FFF);
}

.chef-right .right1 h3 {
    color: var(--dcca-87, #DCCA87);
    font-family: 'Cormorant Upright', serif;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 1.92px;
    text-transform: capitalize;
}

.chef-right .right2 {
    display: inline-flex;
    flex-direction: row;
}

.chef-right .right2 p {
    color: var(--aaaaaa, #AAA);
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.64px;
}

.chef-right .right3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.chef-right .right3 h4 {
    color: var(--dcca-87, #DCCA87);
    font-family: 'Cormorant Upright';
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1.28px;
    text-transform: capitalize;
}

.chef-right .right3 h5 {
    color: var(--aaaaaa, #AAA);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.64px;
}

.chef-right .right4 {
    color: var(--aaaaaa, #AAA);
    font-family: 'Bestermind', sans-serif;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 2.56px;
}

.video {
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    background: var(--0-c-0-c-0-c, #0C0C0C);
}

.vid {
    height: 100%;
}

.vid img {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    opacity: 50%;
}

.award {
    width: 100%;
    height: 100vh;
    background-image: url(../restaurant/pics/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}

.award img {
    padding: 40px 0px 0px 40px;
    width: 100px;
    height: 100px;
}

.award-main {
    width: 100%;
    height: 100%;
    padding: 50px 10% 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.award1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;

}

.award11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    font-family: 'Cormorant Upright', sans-serif;
}

.award1 .mid {
    display: flex;
    flex-direction: row;
    gap: 32px
}

.award11 h4 {
    color: var(--ffffff, #FFF);
    font-size: 1.4375rem;
    font-weight: 700;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}

.award11 h2 {
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 1.92px;
    text-transform: capitalize;
    color: var(--dcca-87, #DCCA87);
}

.award12 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    width: 100%;
    gap: 32px;
}

.award12 img {
    width: 70px;
    height: 70px;
    padding: 0;
}

.award12 .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 80%;
}

.award12 .right h3 {
    font-family: 'Cormorant Upright', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}

.award12 .right p {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 0.64px;
    color: var(--aaaaaa, #AAA);
}

.award2 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.award2 img {
    width: 100%;
    height: 100%;
    padding: 0;
}

.merge {
    width: 100%;
    height: 160vh;
    background: #0C0B08;
    margin-bottom: 10%;
}

.gallery {
    background-image: url(../restaurant/pics/about.jpg);
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 64px;
    padding: 30px 0 15px 40px;
    width: 100%;
    height: 100%;
}

.brief {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Cormorant Upright', sans-serif;
    width: 490px;
    gap: 18px;
}

.brief .top h2 {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0.92px;
    text-transform: capitalize;
    color: var(--ffffff, #FFF);
}

.brief .top h3 {
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 1.92px;
    text-transform: capitalize;
    color: var(--dcca-87, #DCCA87);
}

.brief p {
    color: var(--aaaaaa, #AAA);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.64px;
}

.brief h4,
.find-us.right4 h4 {
    width: 136px;
    height: 44px;
}

.brief h4 a,
.find-us .right4 h4 a {
    text-decoration: none;
    border: 1px solid var(--dcca-87, #DCCA87);
    background: var(--dcca-87, #DCCA87);
    color: var(--0-c-0-c-0-c, #0C0C0C);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
    font-family: Cormorant Upright;
    padding: 8px
}

.slider .images img {
    height: 100%;
}

.slider .images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
    scroll-behavior: smooth;
    gap: 32px;
    height: 50vh;
}

.slider .images::-webkit-scrollbar {
    display: none
}

.hover:hover {
    border: 2px solid rgba(220, 202, 135, 0.20);
    background: linear-gradient(230deg, rgba(0, 0, 0, 0.75) 8.77%, rgba(0, 0, 0, 0.64) 79.13%);
}

.find0 {
    width: 90%;
}

.find {
    flex-direction: row-reverse;
    gap: 120px;
}

.find-leftmid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.find-leftmid p {
    color: var(--aaaaaa, #AAA);
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.64px;
}

.find-us.right1 h3 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 2.56px;
}

.find-us {
    width: 100%;
}

.footer {
    background-image: url(../restaurant/pics/about.jpg);
    background-color: #040404;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
}

.ft-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.ft-main .main-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}
















@media screen and (max-width:1024px) {
    header h1 {
        font-size: 40px;
    }

    .topright a {
        font-weight: 500
    }

    .topright .book,
    .topright img {
        padding: 0;
    }

    .ct-right img {
        width: 100%;
    }

    .ct-right::after {
        left: 20px;
    }

    .ct-right .ct-2 {
        left: 60px;
    }

    .about .img {
        width: 350px;
        left: 32%;
    }

    .about-center img {
        height: 80vh;
    }

    .about-left h2,
    .about-right h2 {
        font-size: 52px;
    }

    .about-right p,
    .about-left p {
        width: auto;
    }

    .about-left {
        width: auto;
    }



    .t-special22 img {
        height: 50vh
    }



    .men1 .top {
        gap: 1.5rem;
    }

    .men1 .top h2,
    .men1 .top h3 {
        font-weight: 500;
        font-size: 18px;
    }

    .t-special1 h2 {
        font-size: 54px
    }

    .t-special21,
    .t-special23 {
        gap: 2rem;
    }

    .chef-main {
        width: 100%;
        gap: 4rem;
    }




    .chef-right .right1 h3 {
        font-size: 45px;
        font-weight: 400;
    }

    .chef-right .right4 {
        font-size: 50px
    }
}